@import url('https://fonts.googleapis.com/css2?family=Sono&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
   --bgColor: #0c0f21;
   /* --bgColor: #201f25; */
  --bgColorFaint: #c3c5cb27;
  /* --bgColorFaint: #292932; */
   --mainColor : #fff;
   --bg-primary-dark: #104d75;
   --primary-color: #5367ff;
   /* --shadow-color: #09081b7a; */
   --swiper-theme-color: #fff !important;

}

body{
    background-color: var(--bgColor);
    color: var(--mainColor);
    font-family: 'Sono', sans-serif;

}

.formStyle{
border-radius:  68% 52% 35% 97% / 68% 71% 64% 57%  ; 
    background-color: var(--bgColorFaint);
    padding: 2rem 3rem;
    width: 80%;
    margin: auto;
}
@media screen and (max-width:550px){
  .formStyle{
        width: 100%;
        padding:1rem;
}
}
.inputStyle{
    display: block;
    border-radius: 5px;
    padding: 0.4rem;
    width: 100%;
    margin-bottom: 1.5rem;
    border: none;
   
}
.inputStyle>P{
    margin-bottom: 1.5rem;
}
.inputStyle:focus{
    box-shadow: 0px 0px 7px 5px rgba(127, 133, 205, 0.495) ;
    outline: none;
    transform: scale(1.02);
}
.submitBtn{
    padding: .5rem 2rem;
    font-size: 1.2rem;
    border-radius: 5px;
    border: none;
    color: var(--mainColor);
    background: linear-gradient(to left, var(--primary-color), var(--bg-primary-dark));
    position: relative;
left: 50%;
  transform: translateX(-50%);
}


/* ===== slider =============================== */
.mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
}
#root > div.swiper.swiper-coverflow.swiper-3d.swiper-initialized.swiper-horizontal.swiper-watch-progress.mySwiper > div.swiper-wrapper{
  /* transform: translate3d(0px, 0px, 0px) !important; */
}
.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
    bottom: 0px !important;
  }
  .page-item>a{
    color: var(--mainColor)!important;
    background-color: var(--bgColor)!important;
    border: none;
  }